@model TopSunday.ViewModels.GamesViewModel
@using TopSunday.SpecificObjects
@using TopSunday.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SundayGames</title>
</head>
<body>



    <div class="row">



        <div class="col-xs12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table" id="tbClassification">
                    <tr>


                        <th>
                            Nome
                        </th>
                        <th>
                            J
                        </th>
                        <th>
                            V
                        </th>
                        <th>
                            D
                        </th>
                        <th>
                            E
                        </th>
                        <th>
                            G
                        </th>
                        <th>
                            Pts
                        </th>
                        <th>
                        </th>

                    </tr>

                    @{

                        foreach (ClassificationList item in Model.Classification)
                        {
                            <tr>


                                <td>
                                    @item.Player.PlayerName
                                </td>
                                <td>
                                    @item.NumGames
                                </td>
                                <td>
                                    @item.Wins
                                </td>
                                <td>
                                    @item.Loses
                                </td>
                                <td>
                                    @item.Draws
                                </td>
                                <td>
                                    @item.Goals
                                </td>
                                <td>
                                    @item.TotalPoints

                                </td>

                            </tr>
                        }

                    }


                </table>
            </div>
        </div>
    </div>
</body>
</html>
